body {
	margin: 0;
}

.landing {
	min-height: 100vh;
	color: #484B4C;

	h1, h2 {
		font-weight: 700;
		text-align: center;
	}

	h2 {
		font-size: 30px;
	}

	header, section {
		padding: 60px 0;

		p {
			margin: 40px 0;
			font-size: 18px;
			text-align: center;
		}

		a {
			color: $brand-clay;
		}

		em {
			font-weight: bold;
		}
	}

	header {
		h1 {
			font-size: 60px;
		}
	}

	.section-inverted {
		background-color: $brand-dark;
		color: #FFF;
	}

	.footer {
		margin-top: 0;
		padding: 47px 20px;
	}

	.clay-logo {
		margin: 40px 0 60px;
		text-align: center;

		img {
			max-width: 140px;
		}
	}
}
