// vars

$brand-dark: #4C4F64;
$brand-dark-text: #A2A7C2;
$brand-dark-active: #585A6E;
$brand-dark-hover: #53556A;
$brand-darker: #414456;
$brand-darker-text: #6D7290;

$content-header-bg: #F1F3F5;

$base-size: 32px;



@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";

@import "atlas";

@import "autocomplete";
@import "blog";
@import "code";
@import "footer";
@import "guide";
@import "landing";
@import "sidebar";

// Font

@import "font/source-sans-pro/source-sans-pro.css";

body {
	color: $brand-darker;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

	@media (max-width: $grid-float-breakpoint) {
		margin-top: $base-size * 2;
	}
}

.content {
	img {
		max-width: 100%;
	}
}
.navbar-xs-fixed {
	@media (max-width: $grid-float-breakpoint) {
		@include position(fixed, 0 0 null 0);

		visibility: initial;
	}
}

.sidebar-lexicon-site {
	background-color: $brand-dark;

	a {
		color: $brand-darker-text;
	}

	.sidebar-header {
		padding: 24px 24px 12px;

		@media (max-width: $grid-float-breakpoint) {
			padding: 16px;
		}
	}

	.sidebar-body {
		padding-top: 0px;

		@media (max-width: $grid-float-breakpoint) {
			padding: 0 16px 16px;
		}
	}

	.input-group {
		width: 100%;

		.input-group-addon {
			@include position(absolute, 4px 16px null null);

			background-color: transparent;
			border-color: transparent;
			color: $brand-darker-text;
			z-index: 9;
		}

		> input.form-control {
			background-color: $brand-darker;
			border-radius: 4px;
			color: $brand-darker-text;
			padding-right: $base-size * 1.5;

			&:-webkit-input-placeholder, &:-moz-placeholder {
				color: $brand-darker-text;
			}

			&:active, &:focus {
				color: $brand-darker-text;
				background-color: #FFF;
			}
		}
	}

	.nav-nested {
		& > li:not(.active) > ul {
			display: none;
		}
	}

	.nav-pills {
		& > li > {
			a {
				background-color: transparent;
				color: #FFF;
				margin-left: $base-size * 1.5;
			}

			.icon-monospaced.lexicon-icon {
				float: left;
				padding: 6px;
			}
		}

		& > li > ul > li.active > a, & > li > ul > li.active > a:hover, & > li > ul > li.active > a:focus {
			background-color: $brand-dark-active;
			color: #FFF;
		}

		& > li > a:hover, & > li > ul > li:hover > a, & > li > a:focus {
			background-color: $brand-dark-hover;
			color: #FFF;
		}

		& li > ul > li > a {
			color: $brand-dark-text;
		}
	}
}

.navbar-lexicon-site {
	background-color: $brand-dark;
	border-color: $brand-dark;
	min-height: $base-size * 2;

	@media (min-width: $grid-float-breakpoint) {
		padding-top: $base-size / 2;
	}

	.logo {
		width: 108px;
    	display: inline-block;
    	margin-right: 5px;
	}

	.navbar-brand {
		color: $brand-dark-text;
		line-height: $base-size * 1.25;
		padding-left: 24px;

		small {
			padding: 8px;
		}
	}

	.navbar-toggle {
		border-width: 0;
		height: $base-size * 1.5;

		@media (max-width: $grid-float-breakpoint) {
			.icon-bar {
				@include transition(all 0.3s $ease-in-out-back);
				@include transform-origin(0);
			}

			&.toggler-header-expanded {
				.icon-bar:nth-of-type(1) {
					@include transform(rotate(45deg) translate(0) scale(1.1));
				}

				.icon-bar:nth-of-type(2) {
					@include transform(rotate(-115deg) scale(0.1));
					opacity: 0;
				}

				.icon-bar:nth-of-type(3) {
					@include transform(rotate(-45deg) translate(0) scale(1.1));
				}
			}
		}
	}
}

header {
	margin: 0 0 $base-size;

	h1 {
		margin: 0;
		line-height: $base-size;
	}
}