.content {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 30px;
	}

	h4 {
		font-size: 24px;
	}

	h5 {
		font-size: 18px;
	}

	.sidebar-offset {
		header {
			margin: 0 0 $base-size;
			padding-bottom: $base-size * 1.25;

			.container-fluid > h1 {
				margin: 0;
				line-height: $base-size;
			}
		}

		.home {
			background-color: $content-header-bg;
			margin: 0;
			padding-bottom: $base-size * 10;
		}
	}

	.docs-list .docs-item {
		margin: 0 0 20px 0;
	}
}