$screen-sm: 900px;

$sidebar-width: 376px;

$brand-dark-active: #467991;
$brand-dark-hover: #467991;
$brand-dark-text: #FFF;
$brand-dark: #5391AE;
$brand-darker-text: #FFF;
$brand-darker: #467991;

$content-header-bg: #F1F3F5;

$base-size: 32px;