$screen-sm: 900px;

$sidebar-width: 376px;

$brand-dark: #4C4F64;
$brand-dark-text: #A2A7C2;
$brand-dark-active: #585A6E;
$brand-dark-hover: #53556A;
$brand-darker: #414456;
$brand-darker-text: #6D7290;

$content-header-bg: #F1F3F5;

$base-size: 32px;