$output-bourbon-deprecation-warnings: false;

$screen-sm: 900px;

$content-max-width: 960px;

$sidebar-width: 376px;

$brand-dark: #215971;
$brand-dark-active: #5391AE;
$brand-dark-hover: #5E9EBD;
$brand-dark-text: #ABD8EF;
$brand-darker: #032E41;
$brand-darker-text: #477990;

$brand-border-color: #E1E2E8;
$content-header-bg: #F1F3F5;

$base-size: 32px;